.chatForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
}

.messageList {
  margin: auto;
  margin-top: 60px;
  width: 50%;
  border: 1px solid lightcoral;
  border-radius: 4px;

  .messageListLabel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem;
  }
}

.messageItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid lightgrey;
  margin-top: 1rem;
}
