nav.navbar {
  height: 80px;
  position: sticky;
  background-color: lightcoral;
  display: flex;
  z-index: 5;
  box-shadow: 0px 1px 1px lightgray;

  a {
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}
